div{
	background:  lightgray;
	display: inline;
}

p{
	background: black;
	color:  white;
	display: inline-block;
	width: 400px;
}

span{
	background: yellow;
	height: 3000px;
}

a{
	background:  pink;
}

img{
	display: block;
	width: 100%;
	height: 200px;
}

p a{
	display:
}
