div{
	background:  lightgray;
}

p{
	background: black;
	color:  white;
}

span{
	background: yellow;
	display: inline-block;
	height: 40px;
}

a{
	background:  pink;
}

strong{
	color: white;
	display: inline-block;
	width: 0px;
	overflow: hidden;
}

p span{
	display: inline;
	background: transparent;
}

img{
	position: relative;
	transform: rotate(70deg);
}
